{% extends 'base.html' %}
{% block head %}
  {% comment %} {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'items/style.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}
  <h1> New Lost Item </h1>
  <form action="{% url 'items:newLostItem' %}" method ="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{lost_item_form.as_p}}
    <button class="button" type="submit">Submit Lost Item</button>
  </form>
  <a href="/items/lostitems/"> <button>Back to Lost Items</button> </a>
{% endblock %}
