{% extends "base.html" %}

{% block content %}
  <center><h1>Inventory of Lost Items</h1></center>
  {% for lost in all_lost_items %}
    {% if lost.isLost == True %}
    <b>{{lost.id}}</b> | {{lost.category}}<br>
    {{lost.description}}
    <li><b>Location found: </b>{{lost.locationFound}}</li>
    <li><b>Date found: </b>{{lost.dateFound}}</li>
    <li><b>Time found: </b>{{lost.timeFound}}</li>
    {% if lost.lost_item_image %}
      <li><b>Item Picture:</b></li>
      <img src="{{lost.lost_item_image.url}}">
    {% endif %}
    <br>
    {% endif %}
  {% endfor %}
  <a href="/items/newLostItem"> <button>Submit a Lost Item</button> </a>
  <button onclick="window.location.href='../../login/homepage/';">Back to Homepage</button>
  {% endblock %}