{% extends 'base.html' %}

{% block title %}Add User{% endblock %}

{% block content %}
<h1>Add User</h1>
<form method="POST" action="{% url 'login:add' %}" 
    enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in userForm %}
    <div class="form-field">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
{% endfor %}

    <button class="button" type="submit">Save New User</button>
    <button onclick="window.location.href='../..';">Back to Login Page</button>
</form>
{% endblock %}

